page-atividade-randomica {

}

.randomico span {
  width: 115px;
  height: 120px;
  font-size: 40px;
  color: #827e7e;
  background: #e1e8ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.randomico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.randomico ion-icon {
  font-size: 44px;
  padding: 0 30px;
  color: #2eb2ff;
}